/webpack/target.js
.DS_Store
/.sync-config.cson
/.idea
/node_modules
/vendor
/src/**/*.js
/src/**/*.js.map
/public_html/dist
/public_html/index.html
/npm-debug.log
.vscode
src/app/splash/.vs/VSWorkspaceState.json
src/app/splash/.vs/ProjectSettings.json
src/app/splash/.vs/VSWorkspaceState.json
src/app/splash/.vs/slnx.sqlite
src/app/splash/.vs/splash/v15/.suo
