<h1>Rules</h1>
<p><em>Knights of Node</em> is an exciting game where you defend the honor of the one true JavaScript framework,
	Angular.</p>
<h2>Controls</h2>
<p class="align-content-md-center">The player controls motion using keys <kbd>W</kbd>, <kbd>A</kbd>, <kbd>S</kbd>, and
	<kbd>D</kbd> or <kbd><i class="fas fa-arrow-up"></i></kbd>, <kbd><i class="fas fa-arrow-left"></i></kbd>, <kbd><i
		class="fas fa-arrow-down"></i></kbd>, and <kbd><i class="fas fa-arrow-right"></i></kbd>.</p>
<p>Attack with <kbd>SPACEBAR</kbd></p>
<br>
<p>How to play the game: The player starts in the center of the screen. Enemies spawn randomly throughout the
	screen. There are two types of enemies; a black dragon and a red dragon. There's no way out. Kill all the
	dragons and save yourself or die. Have fun! </p>
<h2>Characters</h2>
<div class="row">
	<div class="col-md-4">
		<img class="img-fluid" src="/images/knight-right.svg" alt=""/>
	</div>
	<div class="col-md-4">
		<img class="img-fluid" src="/images/dragon-right1.svg" alt=""/>
	</div>
	<div class="col-md-4">
		<img class="img-fluid" src="/images/ethereum.svg" alt=""/>
	</div>
</div>
<div class="row mt-3">
	<div class="col-md-4">
		<h4>Brad the Valiant Angular Knight</h4>
		<p>
			Brad tirelessly roams the countryside in order to rid the Land of Radian of Jordan the Dragon. He only wishes
			people peace and long life. He uses his sword to fight bugs, cut scope creep, open every door to sacred truth
			of source code. He uses his mighty shield to protect the denizens, so that they can share their code,
			collaborate on Slack, and pass their unit tests.
		</p>
	</div>
	<div class="col-md-4">
		<h4>Jordan the Dragon</h4>
		<p>
			Jordan the Dragon, with his massive talons, fiery breath, and undefined objects terrorizes the Land of Radian.
			He wears the Amulet of React, which allows him to <code>Object.assign({{ '{}' }}, this)</code> himself. The
			swarms of
			dragons move across the country side devouring the denizens, open source software, and passing e2e tests.
			Continuous integrations fail. Backends are filled with compromised data. JavaScript consoles are flooded with
			errors from the work of his evil drones.
		</p>
		<p>
			Occasionally, the Amulet of React throws a <code>TypeError</code>, which creates a Super Jordan so enraged his
			skin turns red and all code is deleted using <code>srm</code> taking all backups and repositories with it. This
			leads Jordan on a mindless rampage across the Land of Radian.
		</p>
	</div>
	<div class="col-md-4">
		<h4>Vitalik Vitality Tokens</h4>
		<p>
			A gift from the crypto Gods! Vitalik Vitality tokens are committed to the blockchain so that Brad may continue
			on his noble quest to defend the Land of Radian and eradicate Jordan from the countryside, so the denizens can
			commit and push their changes and make their deadlines.
		</p>
	</div>
</div>