<section class="py-3">
	<div class="col-6">
		<div class="jumbotron-fluid shadow-sm">
		<h1>Rules</h1>
			<p>Controls</p>
			<p class="align-content-md-center">The player controls motion using keys <kbd>W</kbd> <kbd>S</kbd> <kbd>A</kbd> <kbd>D</kbd>.</p>
			<p>Attack with <kbd>SPACEBAR</kbd></p>
			<br>
			<p>How to play the game: The player starts in the center of the screen. Enemies spawn randomly throughout the screen. There are two types of enemies; a black dragon and a red dragon. There's no way out. Kill all the dragons and save yourself or die. Have fun! </p>
			<p></p>
		</div>
	</div>
</section>
