<h1>Knights of Node</h1>
<div class="row">
	<img src="/images/knight512.svg" alt="the knight" class="col-3">
	<img src="/images/reddragon512.svg" alt="red dragon" class="col-3">
</div>
	<p>Banish dragons from the land with the mighty Shield of Angular</p>
	<h2>Play the Game</h2>
<div class="row">
	<a class="col-3 splash-difficulty-select btn" href="/board/easy">Easy</a>
	<a class="col-3 splash-difficulty-select btn" href="/board/medium">Medium</a>
	<a class="col-3 splash-difficulty-select btn" href="/board/hard">Hard</a>
</div>