<div *ngIf="konami; else playGame">
	<h1>ざんねんでした。 なにもないよ~ん!</h1>
	<p>
		<img src="/images/konami.jpg" alt="A true warrior does not cheat" />
	</p>
</div>
<ng-template #playGame>
	<div class="canvas-width mb-3 row">
		<div class="col-6">
			<p><strong>Hero</strong></p>
			<div class="progress w-100">
				<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
					  [style.width]="player.health + '%'" [class]="player.getProgressBarColor()">{{ player.health }}%
				</div>
			</div>
		</div>
		<div class="col-6">
			<p><strong>Enemy</strong></p>
			<div class="progress w-100" *ngIf="attacker !== null">
				<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
					  [style.width]="attacker.health + '%'" [class]="attacker.getProgressBarColor()">{{ attacker.health }}%
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<canvas width="768" height="432" id="gameBoard"></canvas>
	</div>
	<div class="canvas-width mt-3 row">
		<div class="col-6">
			<div *ngIf="criticalHit" class="alert alert-danger" role="alert">
				<strong>Critical Hit</strong>
			</div>
		</div>
		<div class="col-6">
			<p><strong>Score:</strong> {{ score }}</p>
		</div>
	</div>
	<div class="d-md-none">
		<div class="align-items-center row">
			<div class="col-6">
				<div class="row justify-content-center">
					<div class="col-1">
						<button class="btn btn-primary" (click)="up()"><i class="fas fa-arrow-circle-up"></i></button>
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-1">
						<button class="btn btn-primary" (click)="left()"><i class="fas fa-arrow-circle-left"></i></button>
					</div>
					<div class="col-1">
						<button class="btn btn-primary" (click)="right()"><i class="fas fa-arrow-circle-right"></i></button>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-1">
						<button class="btn btn-primary" (click)="down()"><i class="fas fa-arrow-circle-down"></i></button>
					</div>
				</div>
			</div>
			<div class="col-5 offset-1">
				<button class="btn btn-lg btn-danger" (click)="attack()"><i class="fas fa-times-circle"></i></button>
			</div>
		</div>
	</div>
</ng-template>