<div *ngIf="konami; else playGame">
	<h1>ざんねんでした。 なにもないよ~ん!</h1>
	<p>
		<img src="/images/konami.jpg" alt="A true warrior does not cheat"/>
	</p>
</div>
<ng-template #playGame>
	<div [hidden]="player.health <= 0">
		<div class="canvas-width mb-3 row">
			<div class="col-6">
				<p><strong>Hero</strong></p>
				<div class="progress w-100">
					<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
						  [style.width]="player.health + '%'" [class]="player.getProgressBarColor()">{{ player.health }}%
					</div>
				</div>
			</div>
			<div class="col-6">
				<p><strong>Enemy</strong></p>
				<div class="progress w-100" *ngIf="attacker !== null">
					<div class="progress-bar" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="attacker.maxHealth"
						  [style.width]="(attacker.health / attacker.maxHealth) * 100 + '%'"
						  [class]="attacker.getProgressBarColor()">{{ (attacker.health / attacker.maxHealth) * 100 }}%
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<canvas width="768" height="432" id="gameBoard"></canvas>
		</div>
		<div class="canvas-width mt-3 row">
			<div class="col-6">
				<div *ngIf="criticalHit" class="alert alert-danger" role="alert">
					<strong>Critical Hit</strong>
				</div>
			</div>
			<div class="col-6">
				<p><strong>Score:</strong> {{ score }}</p>
				<p><strong>Kills::</strong> {{ killCount }}</p>
			</div>
		</div>
		<div [hidden]="moves.length > 0">
			<div class="canvas-width row">
				<button class="btn splash-difficulty-select-link" (click)="difficultyCollapse = !difficultyCollapse">Set
					Difficulty
				</button>
			</div>
		</div>
		<div [class.collapse]="difficultyCollapse">
			<ul class="list-unstyled">
				<li><a href="/board/easy"><i class="fab fa-js"></i> Easy</a></li>
				<li><a href="/board/normal"><i class="fab fa-angular"></i> Normal</a></li>
				<li><a href="/board/hard"><i class="fab fa-react"></i> Hard</a></li>
			</ul>
		</div>
	</div>
	<div [hidden]="player.health > 0">
		<h1>Game Over</h1>
		<p>Thank you for playing. Play again?</p>
		<div class="row">
			<div class="col-6">
				<button class="btn splash-difficulty-select-link w-100" onclick="window.location.reload()">Yes</button>
			</div>
			<div class="col-6">
				<a class="btn splash-difficulty-select-link w-100" routerLink="/">No</a>
			</div>
		</div>
		<div class="row">
			<img class="mx-auto mt-3" src="/images/game-over.jpg" alt="GAME OVER"/>
		</div>
	</div>
</ng-template>