@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
	font-family: "ArcadeClassic";
	src: url("../fonts/arcadeclassic.woff"), url("../fonts/arcadeclassic.woff2");
	font-style: normal;
	font-weight: normal;
}

.canvas-width {
	width: 768px;
}

h1, h2 {
	font-family: "ArcadeClassic";
}

kbd {
	padding-top: 0.1em;
	padding-right: 0.6em;
	border: 1px solid #cccccc;
	font-family: sans-serif;
	background-color: #f7f7f7;
	color: #333333;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 2px white inset;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 0.1em;
	text-shadow: 0 1px 0 white;
	line-height: 1.4;
	white-space: nowrap;
}

#nav-logo {
	height: 1.5em;
}

.splash-difficulty-select {
	margin-bottom: 8px;
}
.splash-difficulty-select-link {
	background-color: #ce3d49;
	color: #ffffff;
	display: flow-root;
	margin: 0.5em;
}
.splash-difficulty-select-link:hover {
	background-color: #a53039;
	color: #ffffff;
}

.splash-image-container {
	min-height: 512px;
}

.jumbotron-fluid {
	padding-bottom: 8px;
}

.tagline-text {
	font-family: "ArcadeClassic";
	text-align: center;
	padding-top: 4px;
}