<h1>Team</h1>
<div class="row">
	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/senator-arlo.jpg" alt="Senator Arlo">
			<div class="card-body">
				<h4 class="card-title">Senator Arlo</h4>
				<h6 class="card-title">Senator, Roteg</h6>
				<p class="card-text">Senator Arlo K'tzik is the only Starfleet officer to be elected to the Romulan Senate.
					He is an experienced Starfleet engineer specializing in backend development.</p>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/senator-arlo.jpg" alt="Senator Arlo">
			<div class="card-body">
				<h4 class="card-title">Senator Arlo</h4>
				<h6 class="card-title">Senator, Roteg</h6>
				<p class="card-text">Senator Arlo K'tzik is the only Starfleet officer to be elected to the Romulan Senate.
					He is an experienced Starfleet engineer specializing in backend development.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/senator-arlo.jpg" alt="Senator Arlo">
			<div class="card-body">
				<h4 class="card-title">Senator Arlo</h4>
				<h6 class="card-title">Senator, Roteg</h6>
				<p class="card-text">Senator Arlo K'tzik is the only Starfleet officer to be elected to the Romulan Senate.
					He is an experienced Starfleet engineer specializing in backend development.</p>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/senator-arlo.jpg" alt="Senator Arlo">
			<div class="card-body">
				<h4 class="card-title">Senator Arlo</h4>
				<h6 class="card-title">Senator, Roteg</h6>
				<p class="card-text">Senator Arlo K'tzik is the only Starfleet officer to be elected to the Romulan Senate.
					He
					is an experienced Starfleet engineer specializing in backend development.</p>
			</div>
		</div>
	</div>
</div>