<h1>Team</h1>
<div class="row">
	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/bradley.png" alt="Bradley Brown">
			<div class="card-body">
				<h4 class="card-title">Bradley Brown</h4>
				<h6 class="card-title">Game Developer</h6>
				<p class="card-text">Bradley Brown is a software developer from Albuquerque, NM. 
                    He works in various web technologies, most prominently Node.js (and, of course, Angular). 
                    When not coding, he can usually be found either gaming or following some soccer (futbol) team somewhere on the globe.</p>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/senator-arlo.jpg" alt="Senator Arlo">
			<div class="card-body">
				<h4 class="card-title">Senator Arlo</h4>
				<h6 class="card-title">Senator, Roteg</h6>
				<p class="card-text">Senator Arlo K'tzik is the only Starfleet officer to be elected to the Romulan Senate.
					He is an experienced Starfleet engineer specializing in backend development.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/Danyelle2016.png" alt="Danyelle Miller">
			<div class="card-body">
				<h4 class="card-title">Danyelle Miller</h4>
				<h6 class="card-title">Game Developer</h6>
				<p class="card-text">Danyelle is a mathematics major and software engineer hailing from Albuquerque, 
					New Mexico. She grew up in rural Illinois just outside of St. Louis Missouri where she learned to 
					code on an old IBM ThinkPad in the mid 1990’s. Danyelle’s technical skills are centered around C#/
					.Net and C++ backend development with an expertise in business platform integration. 
					Her hobbies include developing games, herpetology and crushing all who oppose her in
					 Warhammer 40k tabletop.</p>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="card">
			<img class="card-img-top" src="/images/senator-arlo.jpg" alt="Senator Arlo">
			<div class="card-body">
				<h4 class="card-title">Senator Arlo</h4>
				<h6 class="card-title">Senator, Roteg</h6>
				<p class="card-text">Senator Arlo K'tzik is the only Starfleet officer to be elected to the Romulan Senate.
					He
					is an experienced Starfleet engineer specializing in backend development.</p>
			</div>
		</div>
	</div>
</div>